@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primaryColor: #f77e21;
  --primaryColorDark: #d61c4e;
  --primaryColorLight: #fac213;
  --secondaryColor: #fef9a7;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease-in-out;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}
html {
  font-size: 62.5%;
  background: var(--bodyColor);
}
body {
  font-family: "Dosis", sans-serif;
  color: var(--mainBlack);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  font-weight: 700;
}
/* *****Nav***** */
.navbar {
  width: 100%;
  height: 7.5rem;
  position: sticky;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 117rem;
}
.nav-icon {
  font-size: 3rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.nav-title {
  font-size: 3rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  display: flex;
}
.cart-items {
  position: absolute;
  top: -2px;
  left: 25px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--mainRed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
}
/* Products*/
.products {
  margin: 0 0 4rem 0;
}
.header_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  padding: 5rem;
  letter-spacing: var(--mainSpacing);
}
.product-center {
  width: 90vw;
  max-width: 117rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 3rem 5rem;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: var(--mainWhite);
  border-radius: 1rem;
}
.product-image img {
  display: block;
  width: 100%;
  min-height: 12rem;
  border-radius: 1rem 1rem 0 0;
}
.product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  font-size: 1.8rem;
}
.product-price {
  color: var(--primaryColor);
  font-weight: 700;
}
.product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.btn {
  border: none;
  outline: none;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
