@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --primaryColor: #f77e21;
  --primaryColorDark: #d61c4e;
  --primaryColorLight: #fac213;
  --secondaryColor: #fef9a7;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s ease-in-out;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}
html {
  font-size: 62.5%;
  background: var(--bodyColor);
}
body {
  font-family: "Dosis", sans-serif;
  color: var(--mainBlack);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  font-weight: 700;
}
/* *****Nav***** */
.navbar {
  width: 100%;
  height: 7.5rem;
  position: sticky;
  background-color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
}
.navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 117rem;
}
.nav-icon {
  font-size: 3rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.nav-title {
  font-size: 3rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
  display: flex;
}
.cart-items {
  position: absolute;
  top: -2px;
  left: 25px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--mainRed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
}
